In [1]:
import pandas as pd
import numpy as np
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen

In [2]:
url = urlopen('https://www.arcgis.com/sharing/rest/content/items/b8920bf40db14e04a59c331d1663d26e/data')

#Download Zipfile and create pandas DataFrame
zipfile = ZipFile(BytesIO(url.read()))

In [3]:
df= pd.read_csv(zipfile.open('Data/ONSPD_FEB_2021_UK.csv'), 
                     header = 0, names = ['pcd', 'pcd2', 'pcds', 'dointr', 'doterm', 'oscty', 'ced', 'oslaua',
       'osward', 'parish', 'usertype', 'oseast1m', 'osnrth1m', 'osgrdind',
       'oshlthau', 'nhser', 'ctry', 'rgn', 'streg', 'pcon', 'eer', 'teclec',
       'ttwa', 'pct', 'itl', 'statsward', 'oa01', 'casward', 'park', 'lsoa01',
       'msoa01', 'ur01ind', 'oac01', 'oa11', 'lsoa11', 'msoa11', 'wz11', 'ccg',
       'bua11', 'buasd11', 'ru11ind', 'oac11', 'lat', 'long', 'lep1', 'lep2',
       'pfa', 'imd', 'calncv', 'stp'], 
                     skiprows=0)

C:\Program Files\ArcGIS\Pro2.4\bin\Python\envs\arcgispro-py3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (18,31,40,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,pcd,pcd2,pcds,dointr,doterm,oscty,ced,oslaua,osward,parish,...,ru11ind,oac11,lat,long,lep1,lep2,pfa,imd,calncv,stp
0,AB1 0AA,AB1 0AA,AB1 0AA,198001,199606.0,S99999999,S99999999,S12000033,S13002843,S99999999,...,3,1C3,57.101474,-2.242851,S99999999,S99999999,S23000009,6808,S99999999,S99999999
1,AB1 0AB,AB1 0AB,AB1 0AB,198001,199606.0,S99999999,S99999999,S12000033,S13002843,S99999999,...,3,1C3,57.102554,-2.246308,S99999999,S99999999,S23000009,6808,S99999999,S99999999
2,AB1 0AD,AB1 0AD,AB1 0AD,198001,199606.0,S99999999,S99999999,S12000033,S13002843,S99999999,...,3,6A1,57.100556,-2.248342,S99999999,S99999999,S23000009,6808,S99999999,S99999999
3,AB1 0AE,AB1 0AE,AB1 0AE,199402,199606.0,S99999999,S99999999,S12000034,S13002864,S99999999,...,6,1A2,57.084444,-2.255708,S99999999,S99999999,S23000009,5503,S99999999,S99999999
4,AB1 0AF,AB1 0AF,AB1 0AF,199012,199207.0,S99999999,S99999999,S12000033,S13002843,S99999999,...,3,6A4,57.096656,-2.258102,S99999999,S99999999,S23000009,6668,S99999999,S99999999

In [5]:
#df = pd.read_csv("ONSPD_AUG_2021_UK.csv")

#df.head()

In [6]:
df.columns

Index(['pcd', 'pcd2', 'pcds', 'dointr', 'doterm', 'oscty', 'ced', 'oslaua',
       'osward', 'parish', 'usertype', 'oseast1m', 'osnrth1m', 'osgrdind',
       'oshlthau', 'nhser', 'ctry', 'rgn', 'streg', 'pcon', 'eer', 'teclec',
       'ttwa', 'pct', 'itl', 'statsward', 'oa01', 'casward', 'park', 'lsoa01',
       'msoa01', 'ur01ind', 'oac01', 'oa11', 'lsoa11', 'msoa11', 'wz11', 'ccg',
       'bua11', 'buasd11', 'ru11ind', 'oac11', 'lat', 'long', 'lep1', 'lep2',
       'pfa', 'imd', 'calncv', 'stp'],
      dtype='object')

In [7]:
df[['pcd', 'oa11', 'imd']].nunique()

pcd     2656251
oa11     232041
imd       32825
dtype: int64